<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Buzz IVR System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h3>IVR Calls- Make a new call</h3>
	<form id='call-form' class='form-inline'>
  	<div class="form-group col-xs-4">
    	<label for="exampleInputEmail1">Phone Number</label>
    	<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Ex: +15712017611">
  	</div>
  	<div class="form-group col-xs-4">
    	<label for="exampleInputPassword1">Time Delay (In seconds)</label>
    	<input class="form-control" id="time_delay" name="time_delay" placeholder="Time Delay in Seconds">
  	</div>

  	<button id="form-submit" class="btn btn-default">Submit</button>
	</form>
</div>
</body>
</html>